.LIONSBYTE {
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    width:100%;
    position: absolute;
}

/* .teeth {
    width: 20%;
    filter: invert(100%);
} */

.claw {
    display:flex;
    justify-content: center;
    align-items: center;
}