.nav {
  display:flex;
  flex-direction: row;
  /* background-color: black; */
  justify-content: center;
  align-items: center;
  padding:15px;

  /* position: absolute; */
  position: sticky;
  /* width:100%;
  overflow:hidden; */
  /* top:0px; */
  z-index: 100;
}

.inside {
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
}

.buttons {
  width: 40%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact {
  background-color: white;
  color: black;
  padding:5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.logo_ {
  font-size: 3rem;
  color: var(--lg);
}